@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaysian Imposter</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <style>

        body {
            margin: 0;
            /* font-family: Segoe UI; */
            font-family: 'Poppins', sans-serif;
            background: radial-gradient(circle at top,#1e1e2f,#0c0c14);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .app {
            width: 380px;
            max-width: 100%;
            height: 92vh;
            background: #17171f;
            border-radius: 26px;
            box-shadow: 0 30px 60px rgba(0,0,0,.8);
            padding: 22px;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        .logo {
            text-align: center;
            margin-bottom: 10px;
            font-family: 'Fredoka', sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
        }

            .logo img {
                width: 150px;
            }

        .setting-group {
            margin-top: 18px;
            background: #1f1f2a;
            border-radius: 14px;
            padding: 14px;
        }

        .setting-label {
            font-size: 13px;
            opacity: .7;
            margin-bottom: 10px;
            display: block;
        }

        .number-grid {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 8px;
        }

            .number-grid.small {
                grid-template-columns: repeat(3,1fr);
            }

            .number-grid button {
                background: #2b2b38;
                border: none;
                border-radius: 10px;
                padding: 10px;
                font-weight: 700;
                color: white;
                cursor: pointer;
                font-family: 'Fredoka', sans-serif;
                font-size: 16px;
                transition: .2s;
            }

                .number-grid button.active {
                    background: linear-gradient(180deg,#ffd84d,#ff9c00);
                    color: black;
                    transform: scale(.95);
                }

        .category-grid {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 6px;
        }

        .category-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #2b2b38;
            border: none;
            border-radius: 12px;
            padding: 14px;
            font-weight: 600;
            color: white;
            cursor: pointer;
            transform: scale(.95);
        }

            .category-btn span {
                opacity: .6;
                font-size: 20px;
            }

            .category-btn.places.active {
                background: #ff9f80
            }

            .category-btn.food.active {
                background: #8be28b
            }

            .category-btn.jobs.active {
                background: #6ec1ff
            }

            .category-btn.celeb.active {
                background: #ff6a6a
            }

            .category-btn.brands.active {
                background: #c084ff
            }

        button.main {
            width: 100%;
            padding: 14px;
            margin-top: 18px;
            border: none;
            border-radius: 12px;
            /* font-weight: 800; */
            background: linear-gradient(45deg,#ffcc00,#ff9900);
            color: black;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            letter-spacing: .5px;
        }

        .card {
            background: #222230;
            border-radius: 18px;
            padding: 22px;
            margin-top: 10px;
            text-align: center;
        }

        .flip {
            perspective: 1000px;
            margin-top: 15px;
        }

        .flip-card {
            width: 100%;
            height: 220px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform .6s;
            border-radius: 16px;
        }

            .flip-card.flipped {
                transform: rotateY(180deg);
            }

        .face {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
        }

        .front {
            background: #2f2f40;
            font-weight: 700;
        }

        .back {
            transform: rotateY(180deg);
        }

        .role {
            /* font-size: 20px;
            font-weight: 800; */
            font-family: 'Fredoka', sans-serif;
            font-size: 18px;
            font-weight: 700;
            opacity: .9;
        }

        .word {
            /* font-size: 28px;
            font-weight: 900;
            margin-top: 5px; */
            font-family: 'Fredoka', sans-serif;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .civilian {
            background: linear-gradient(135deg,#c6ff52,#8bc34a);
            color: black;
        }

        .imposter {
            background: linear-gradient(135deg,#ff5f5f,#c90000);
        }

        .hidden {
            display: none;
        }

        .vote-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-top: 10px;
        }

            .vote-grid button {
                background: #2b2b38;
                border: none;
                border-radius: 12px;
                padding: 14px;
                color: white;
                font-weight: 700;
                cursor: pointer;
            }

                .vote-grid button.selected {
                    background: linear-gradient(45deg,#ffcc00,#ff9900);
                    color: black;
                }

        .discussion-card {
            background: #1f1f2a;
            border-radius: 16px;
            padding: 20px;
            text-align: center;
        }

        .pass-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 200px;
            animation: fadeIn .4s ease;
        }

        .phone-icon {
            font-size: 60px;
            margin-bottom: 15px;
            animation: bounce 1s infinite;
        }

        /* MONSTER CARD REVAMP */

        .monster-card {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            text-align: center;
            color: white;
            position: relative;
            overflow: hidden;
            text-shadow: 0 2px 10px rgba(0,0,0,0.3);
        }

            /* glow effect background */
            .monster-card::before {
                content: "";
                position: absolute;
                width: 120%;
                height: 120%;
                background: radial-gradient(circle,rgba(255,255,255,0.15),transparent 70%);
                top: -10%;
                left: -10%;
            }

        .monster-face {
            font-size: 60px;
            margin-bottom: 10px;
            animation: float 2s ease-in-out infinite;
        }

        .role {
            /* font-size: 18px;
            font-weight: 800; */
            margin-bottom: 5px;
            font-family: 'Fredoka', sans-serif;
            font-size: 20px;
            font-weight: 700;
        }

        .word {
            font-family: 'Fredoka', sans-serif;
            font-size: 26px;
            font-weight: 700;
        }

        h1, h2, h3 {
            font-family: 'Fredoka', sans-serif;
            font-weight: 700;
            letter-spacing: .5px;
        }

        /* ROLE COLORS */

        /* .monster-card.civilian {
            background: linear-gradient(135deg,#c6ff52,#8bc34a);
            color: black;
        }

        .monster-card.imposter {
            background: linear-gradient(135deg,#ff5f5f,#c90000);
        } */

            .monster-card.imposter .monster-face {
                animation: shake 0.6s infinite;
            }

        @@keyframes bounce {
            0% {
                transform: translateY(0)
            }

            50% {
                transform: translateY(-10px)
            }

            100% {
                transform: translateY(0)
            }
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(.9)
            }

            to {
                opacity: 1;
                transform: scale(1)
            }
        }

    </style>
</head>

<body>

    <div class="app">

        <div class="logo">
            <img src="/img/logo.png">
        </div>

        <div id="settings">

            <div class="setting-group">
                <label class="setting-label">How many are you playing?</label>
                <div class="number-grid" id="playersGrid"></div>
            </div>

            <div class="setting-group">
                <label class="setting-label">How many imposters?</label>
                <div class="number-grid small" id="impostersGrid"></div>
            </div>

            <div class="setting-group">

                <label class="setting-label">Choose a category</label>

                <div class="category-grid" id="categoryGrid">

                    <button class="category-btn places" data-value="Nama Tempat">Places <span>🗺</span></button>
                    <button class="category-btn food" data-value="Makanan & Minuman">Food <span>🍜</span></button>
                    <button class="category-btn jobs" data-value="Pekerjaan / Hobi / Sukan">Jobs <span>👨‍💻</span></button>
                    <button class="category-btn celeb" data-value="Artis / Influencer / Atlet">Celebrities <span>⭐</span></button>
                    <button class="category-btn brands" data-value="Jenama Tempatan">Brands <span>🏷</span></button>

                </div>

            </div>

            <button class="main" onclick="startGame()">Let's Go!</button>

        </div>

        <div id="game"></div>

    </div>

    <script>

        const monsterFaces=["👾","👹","👺","😈","👻","🤖","🧌","😜","😵","🫠"]

        let selectedCategory=""
        let gameData=null
        let currentPlayer=0
        let selectedPlayers=4
        let selectedImposters=1
        let votedPlayer=null
        let hasRevealed = false
        let cardFlipped = false

        function buildGrid(){

        const playersGrid=document.getElementById("playersGrid")
        const impostersGrid=document.getElementById("impostersGrid")

        for(let i=3;i<=10;i++){

        let btn=document.createElement("button")
        btn.innerText=i

        if(i===selectedPlayers)btn.classList.add("active")

        btn.onclick=()=>{

        selectedPlayers=i

        document.querySelectorAll("#playersGrid button")
        .forEach(b=>b.classList.remove("active"))

        btn.classList.add("active")

        updateImposters()

        }

        playersGrid.appendChild(btn)

        }

        for(let i=1;i<=3;i++){

        let btn=document.createElement("button")
        btn.innerText=i

        if(i===selectedImposters)btn.classList.add("active")

        btn.onclick=()=>{

        if(btn.disabled)return

        selectedImposters=i

        document.querySelectorAll("#impostersGrid button")
        .forEach(b=>b.classList.remove("active"))

        btn.classList.add("active")

        }

        impostersGrid.appendChild(btn)

        }

        updateImposters()

        }

        function updateImposters(){

        let max=1

        if(selectedPlayers>=10)max=3
        else if(selectedPlayers>=7)max=2

        document.querySelectorAll("#impostersGrid button")
        .forEach(btn=>{

        let value=parseInt(btn.innerText)

        btn.disabled=value>max

        })

        if(selectedImposters>max)selectedImposters=max

        }

        document.addEventListener("DOMContentLoaded",()=>{
        buildGrid()
        initCategorySelection()
        })

        async function startGame(){

        if(selectedImposters>=selectedPlayers){
        alert("Imposters must be less than players")
        return
        }

        if(!selectedCategory){
        alert("Select category")
        return
        }

        const response=await fetch("/api/game/start",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
        playerCount:selectedPlayers,
        imposterCount:selectedImposters,
        categoryName:selectedCategory
        })
        })

        gameData=await response.json()

        document.getElementById("settings").classList.add("hidden")

        currentPlayer=0

        showPassAnimation()

        }

        function showPassAnimation(){

        if(currentPlayer>=gameData.players.length){
        showDiscussion()
        return
        }

        let playerNumber=currentPlayer+1

        document.getElementById("game").innerHTML=`

        <div class="card pass-screen">

        <div class="phone-icon">📱</div>

        <h3>Pass the phone</h3>

        <p>Give the phone to Player ${playerNumber}</p>

        </div>

        `

        setTimeout(()=>{

        passPhone()

        },1500)

        }

        function passPhone(){

        let randomCard=Math.floor(Math.random()*10)+1
        let monsterClass="monster"+randomCard
        let face=monsterFaces[randomCard-1]

        let player=gameData.players[currentPlayer]
        let playerNumber=currentPlayer+1

        // let roleClass=player.role==="Imposter"?"imposter":"civilian"
        let gradient=getRandomGradient()

        hasRevealed=false
        cardFlipped=false

        document.getElementById("game").innerHTML=`

        <div class="card">

        <h3>Player ${playerNumber}</h3>

        <div class="flip">

        <div class="flip-card" id="card">

        <div class="face front">
        Tap to reveal
        </div>

        <div class="face back">

        <div class="monster-card" style="background:${gradient}">

        <div class="monster-face">${face}</div>

        <div class="role">${player.role}</div>

        <div class="word">${player.word}</div>

        </div>

        </div>

        </div>

        </div>

        <button class="main" id="passBtn" onclick="next()" disabled>

        Reveal & Pass Phone

        </button>

        </div>

        `
        setTimeout(()=>initHoldReveal(),50)

        }

        // function flip(){
        // document.getElementById("card").classList.toggle("flipped")
        // }

        let holdTimer=null

        function initHoldReveal(){

        let card=document.getElementById("card")
        let passBtn=document.getElementById("passBtn")

        if(!card || !passBtn) return

        // START HOLD
        function startHold(e){

        e.preventDefault()

        holdTimer=setTimeout(()=>{

        card.classList.add("flipped")

        cardFlipped=true
        hasRevealed=true

        },200)

        }

        // END HOLD
        function endHold(){

        clearTimeout(holdTimer)

        if(cardFlipped){

        card.classList.remove("flipped")
        cardFlipped=false

        if(hasRevealed){
        passBtn.disabled=false
        }

        }

        }

        // EVENTS (support mobile + desktop)
        card.addEventListener("mousedown",startHold)
        card.addEventListener("touchstart",startHold)

        card.addEventListener("mouseup",endHold)
        card.addEventListener("mouseleave",endHold)
        card.addEventListener("touchend",endHold)

        }

        function flip(){

            let card=document.getElementById("card")
            let passBtn=document.getElementById("passBtn")

            card.classList.toggle("flipped")

            cardFlipped=!cardFlipped

            if(cardFlipped){
            hasRevealed=true
            passBtn.disabled=true
        }else{

            if(hasRevealed){
            passBtn.disabled=false
            }

        }

        }

        function getTextColor(bgColor){
        return "white" // simple version (boleh upgrade nanti)
        }

        function next(){
        currentPlayer++
        showPassAnimation()
        }

        function showDiscussion(){

        document.getElementById("game").innerHTML=`

        <div class="discussion-card">

        <h3>It's discussion time</h3>

        <p>Discuss among players to decide who is imposter.</p>

        </div>

        <button class="main" onclick="startVote()">Start Voting</button>

        `

        }

        function startVote(){

        // let html=`<h3 style="text-align:center">Vote Imposter</h3>`

        // html+=`<div class="vote-grid">`

        // for(let i=1;i<=selectedPlayers;i++){

        // html+=`<button onclick="selectVote(${i})" id="vote${i}">Player ${i}</button>`

        // }

        // html+=`</div>`

        // html+=`<button class="main" onclick="vote()">Confirm Imposter</button>`

        // document.getElementById("game").innerHTML=html

        votedPlayers=[]

        let html=`<h3 style="text-align:center">Vote Imposter</h3>`

        html+=`<p style="text-align:center;opacity:.7">
        Select ${selectedImposters} suspect(s)
        </p>`

        html+=`<div class="vote-grid">`

        for(let i=1;i<=selectedPlayers;i++){

        html+=`<button type="button" onclick="selectVote(${i})" id="vote${i}">
        Player ${i}
        </button>`

        }

        html+=`</div>`

        html+=`<button class="main" onclick="vote()">Confirm Imposter</button>`

        document.getElementById("game").innerHTML=html


        }

        // function selectVote(player){

        // votedPlayer=player XXORIXX

        // document.querySelectorAll(".vote-grid button")  XXORIXX
        // .forEach(b=>b.classList.remove("selected"))  XXORIXX

        // document.getElementById("vote"+player).classList.add("selected")  XXORIXX

        //     let btn=document.getElementById("vote"+player)

        //     if(votedPlayers.includes(player)){

        //     votedPlayers=votedPlayers.filter(x=>x!==player)
        //     btn.classList.remove("selected")

        //     return

        // }

        //     if(votedPlayers.length>=selectedImposters){
        //     return
        // }

        //     votedPlayers.push(player)

        //     btn.classList.add("selected")

        // }

        function getRandomGradient(){

        const colors=[
        ["#5bd85b","#1fa21f"],
        ["#ff5757","#c90000"],
        ["#ffd93b","#ff9f00"],
        ["#ff8c42","#ff3d00"],
        ["#4dc3ff","#0066ff"],
        ["#a66cff","#5c00ff"],
        ["#ff7ad9","#ff0088"],
        ["#37e0c4","#009688"],
        ["#9ccc65","#558b2f"],
        ["#ffb74d","#ef6c00"]
        ]

        let random=colors[Math.floor(Math.random()*colors.length)]

        return `linear-gradient(135deg, ${random[0]}, ${random[1]})`

        }

        function vote(){

        if(votedPlayers.length!==selectedImposters){

        alert("Select "+selectedImposters+" player(s)")
        return

        }

        let imposters=[]

        gameData.players.forEach((p,index)=>{

        if(p.role==="Imposter"){
        imposters.push(index+1)
        }

        })

        let correct=true

        for(let v of votedPlayers){

        if(!imposters.includes(v)){
        correct=false
        break
        }

        }

        if(correct && votedPlayers.length===imposters.length){

        document.getElementById("game").innerHTML=`

        <h2 style="text-align:center">You caught all imposters!</h2>

        <p style="text-align:center">Players win!</p>

        <p style="text-align:center">Imposters were: ${imposters.join(", ")}</p>

        <button class="main" onclick="playAgain()">Play Again</button>

        `

        }else{

        document.getElementById("game").innerHTML=`

        <h2 style="text-align:center">Uh oh! Wrong catch...</h2>

        <p style="text-align:center">The imposters were:</p>

        <p style="text-align:center;font-weight:bold">${imposters.join(", ")}</p>

        <button class="main" onclick="playAgain()">Play Again</button>

        `

        }

        }

        function selectVote(player){

        let btn=document.getElementById("vote"+player)

        if(!btn) return

        // REMOVE
        if(votedPlayers.includes(player)){

        votedPlayers=votedPlayers.filter(x=>x!==player)
        btn.classList.remove("selected")

        return
        }

        // LIMIT SELECTION
        if(votedPlayers.length>=selectedImposters){
        return
        }

        // ADD
        votedPlayers.push(player)
        btn.classList.add("selected")

        }

        function playAgain(){

        gameData=null
        currentPlayer=0
        votedPlayer=null

        document.getElementById("game").innerHTML=""
        document.getElementById("settings").classList.remove("hidden")

        }

        function initCategorySelection(){

        document.querySelectorAll("#categoryGrid button")
        .forEach(btn=>{

        btn.onclick=()=>{

        document.querySelectorAll("#categoryGrid button")
        .forEach(b=>b.classList.remove("active"))

        btn.classList.add("active")

        selectedCategory=btn.dataset.value

        }

        })

        }

        document.addEventListener("keydown", function(e){

        // Block F12
        if(e.key === "F12"){
        e.preventDefault()
        return false
        }

        // Block Ctrl+Shift+I (Inspect)
        if(e.ctrlKey && e.shiftKey && e.key === "I"){
        e.preventDefault()
        return false
        }

        // Block Ctrl+Shift+J (Console)
        if(e.ctrlKey && e.shiftKey && e.key === "J"){
        e.preventDefault()
        return false
        }

        // Block Ctrl+U (View Source)
        if(e.ctrlKey && e.key === "u"){
        e.preventDefault()
        return false
        }

        })

        document.addEventListener("contextmenu", function(e){
        e.preventDefault()
        })
    </script>

</body>
</html>